# üîê Styling

In [30]:
%%HTML
<style>
body {
    --vscode-font-family : 'Nasalization';
}

.dataframe {
    font-family : 'Futura';
    # font-family : 'Century Gothic';
    border : 2px solid #252422;
    border-radius : 5px;
    overflow : hidden;
}

.dataframe tr th {
    text-align : center;
}

.dataframe td {
    paddign : 10px;
    text-align : left;
}

.dataframe tr:hover{
    background-color : #ef233c;
}

</style>

# üõ≥Ô∏è Importation

In [31]:
import calendar
import datetime as dt

import psycopg2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns

# üéØ Features

## üìç Connect database

In [32]:
# Create database connection

conn = ''

try :
    conn = psycopg2.connect(
        host = "localhost",
        port = "5432",
        user = "postgres",
        password = "postgres",
        dbname = "BudgetManagement"
    )    

except Exception as e: 
    print(e)

# Connect to Database and get informations
cursor = conn.cursor()

## üìç Functions

In [33]:
def get_data_from_query(query, cursor=cursor) : 
    cursor.execute(query)
    
    colnames = [col.name for col in cursor.description]
    rows = cursor.fetchall()

    data = pd.DataFrame(columns=colnames, data=rows)
    return data

# üìï Data

## üìú vue_type_flux

In [34]:
query = f'''
SELECT * FROM vue_type_flux
'''

vue_type_flux = get_data_from_query(query)
vue_type_flux

   ID Type Flux   Type Flux
0             1      Entr√©e
1             2      Sortie
2             3      Neutre
3             4  R√©paration

## üìú vue_periode

In [35]:
query = f'''
SELECT * FROM vue_periode
'''

vue_periode = get_data_from_query(query)
vue_periode

   ID Periode     Periode
0           1  Entreprise
1           2       Ecole
2           3    Vacances

## üìú vue_fixes

In [36]:
query = f'''
SELECT * FROM vue_fixes
'''

vue_fixes = get_data_from_query(query)
vue_fixes

   ID Fixes         Fixes
0         1          Fixe
1         2      Variable
2         3  Exceptionnel

## üìú vue_categorie

In [37]:
query = f'''
SELECT * FROM vue_categorie
'''

vue_categorie = get_data_from_query(query)
vue_categorie

    ID Categorie       Categorie     Target
0              1         Courses  100.00000
1              2            Mode          0
2              3      Esth√©tique          0
3              4         Hygi√®ne          0
4              5      Abonnement          0
5              6      Transports          0
6              7        Logement          0
7              8            Aide          0
8              9  Divertissement          0
9             10         Emprunt          0
10            11          Emploi          0
11            12         Epargne          0
12            13          Imp√¥ts          0
13            14           Sant√©          0
14            15           Autre          0
15            16          Cadeau          0

## üìú vue_sous_categorie

In [38]:
query = f'''
SELECT * FROM vue_sous_categorie
'''

vue_sous_categorie = get_data_from_query(query)
vue_sous_categorie

     ID Categorie       Categorie  Sous-Categorie Target
0              17         Courses         Viandes      0
1              18         Courses        Fromages      0
2              19         Courses         L√©gumes      0
3              20         Courses          Fruits      0
4              21         Courses          Sauces      0
..            ...             ...             ...    ...
96            113         Epargne  Trade Republic      0
97            114         Courses             Sac      0
98            115  Divertissement       Bricolage      0
99            116         Courses             Eau      0
100           117      Esth√©tique          Parfum      0

[101 rows x 4 columns]

## üìú flux

In [39]:
query = f'''
SELECT * FROM flux
'''

flux = get_data_from_query(query)
flux

,id_flux,id_periode,id_type_flux,id_fixes,id_categorie,date_flux,montant,tags,description
0,1,1,2,2,102,2024-09-02,350.00000,#Epargne,Epargne ao√ªt et r√©serve
1,2,1,2,2,89,2024-09-02,9.00000,#Soir√©e,Soir√©e int√© ENSIMAG
2,3,1,1,1,98,2024-09-02,1329.00000,#Salaire,Salaire ao√ªt
3,4,1,2,1,77,2024-09-02,390.00000,#Loyer,Loyer septembre 2024
4,6,1,2,2,87,2024-09-03,16.00000,#Cheese #Naan,Cheese Naan apr√®s soir√©e
...,...,...,...,...,...,...,...,...,...
1002,1051,2,2,2,69,2025-09-07,12.40000,#autoroute,Autoroute direction SMH
1003,1052,1,2,2,93,2025-09-08,8.50000,#croustine,Petit-d√©jeuner pour l'IT
1004,1053,1,2,2,20,2025-09-08,3.99000,#pomme,Courses carrefour
1005,1054,1,2,2,28,2025-09-08,1.69000,#chips,Courses carrefour
1006,1055,1,2,2,29,2025-09-08,4.08000,#perrier,Courses carrefour

## üìú vue_flux

In [40]:
query = f'''
SELECT * FROM vue_flux
'''

vue_flux = get_data_from_query(query)
vue_flux

,ID Flux,P√©riode,Type de flux,Fixes,Cat√©gorie,Sous-cat√©gorie,Date,Montant,Tags,Description
0,1,Entreprise,Sortie,Variable,Epargne,Livret A,2024-09-02,350.00000,#Epargne,Epargne ao√ªt et r√©serve
1,2,Entreprise,Sortie,Variable,Divertissement,Brasserie,2024-09-02,9.00000,#Soir√©e,Soir√©e int√© ENSIMAG
2,3,Entreprise,Entr√©e,Fixe,Emploi,Salaire,2024-09-02,1329.00000,#Salaire,Salaire ao√ªt
3,4,Entreprise,Sortie,Fixe,Logement,Loyer,2024-09-02,390.00000,#Loyer,Loyer septembre 2024
4,5,Entreprise,Sortie,Exceptionnel,Imp√¥ts,Imp√¥ts,2024-09-03,103.00000,#Ecole,CVEC pour IUT
...,...,...,...,...,...,...,...,...,...,...
1002,1051,Ecole,Sortie,Variable,Transports,Autoroute,2025-09-07,12.40000,#autoroute,Autoroute direction SMH
1003,1052,Entreprise,Sortie,Variable,Divertissement,Boulangerie,2025-09-08,8.50000,#croustine,Petit-d√©jeuner pour l'IT
1004,1053,Entreprise,Sortie,Variable,Courses,Fruits,2025-09-08,3.99000,#pomme,Courses carrefour
1005,1054,Entreprise,Sortie,Variable,Courses,Ap√©ritifs,2025-09-08,1.69000,#chips,Courses carrefour
1006,1055,Entreprise,Sortie,Variable,Courses,Soda,2025-09-08,4.08000,#perrier,Courses carrefour

## üìú vue_flux_mact

In [41]:
query = f'''
SELECT * FROM vue_flux_mact
'''

vue_flux_mact = get_data_from_query(query)
vue_flux_mact

,ID Flux,P√©riode,Type de flux,Fixes,Cat√©gorie,Sous-cat√©gorie,Date,Montant,Tags,Description
0,1032,Ecole,Entr√©e,Fixe,Emploi,Salaire,2025-09-01,2389.01000,#salaire,Dernier salaire contrat Tetras
1,1033,Ecole,Sortie,Fixe,Epargne,Livret A,2025-09-01,400.00000,#epargne,Epargne d√©but de mois
2,1034,Ecole,Sortie,Fixe,Cadeau,Famille,2025-09-01,200.00000,#papa #maman,Cadeau papa et maman
3,1035,Ecole,Sortie,Fixe,Logement,Loyer,2025-09-01,390.00000,#loyer,Loyer Septembre 2025
4,1036,Ecole,Sortie,Exceptionnel,Epargne,Revolut,2025-09-01,200.00000,#etherum,Pour investir sur Etherum
5,1037,Ecole,Entr√©e,Variable,Emploi,Salaire,2025-09-03,4.00000,#business,BlaBla car
6,1038,Ecole,Sortie,Fixe,Abonnement,Mobile,2025-09-01,0.99000,#icloud,Apple ICloud
7,1039,Ecole,Sortie,Fixe,Abonnement,Streaming,2025-09-03,14.99000,#netflix,Netflix
8,1040,Ecole,Sortie,Variable,Courses,Jus,2025-09-03,7.41000,#pulco,Courses Hyper U Thoiry : Pulco etc.
9,1041,Ecole,Sortie,Variable,Divertissement,Brasserie,2025-09-04,4.00000,#coca,Sortie le Bowl avec IAE
10,1042,Ecole,Sortie,Variable,Divertissement,Brasserie,2025-09-04,10.00000,#partie1,Sortie le Bowl avec IAE
11,1043,Ecole,Sortie,Variable,Divertissement,Brasserie,2025-09-04,10.00000,#partie2,Sortie le Bowl avec IAE
12,1044,Ecole,Sortie,Variable,Divertissement,Brasserie,2025-09-04,3.50000,#demi #moi,Sortie Colloc Pub
13,1045,Ecole,Sortie,Variable,Divertissement,Brasserie,2025-09-04,7.00000,#demi #moi #arthur,Sortie Colloc Pub
14,1046,Ecole,Sortie,Fixe,Transports,Assurance v√©hicule,2025-09-05,78.82000,#flash,Assurance Macif pour Flash
15,1047,Ecole,Entr√©e,Fixe,Aide,CAF,2025-09-05,259.30000,#caf,Aide APL + Prime d'activit√©
16,1048,Ecole,Sortie,Variable,Courses,Eau,2025-09-03,18.98000,#decathlon,Decathlon : Gourde et Mousqueton
17,1049,Ecole,Sortie,Variable,Transports,Carburant,2025-09-03,67.30000,#gazole #flash,Gazole pour Flash apr√®s Thoiry
18,1050,Ecole,Sortie,Fixe,Abonnement,Sports,2025-09-06,22.00000,#valseo,Abonnement piscine
19,1051,Ecole,Sortie,Variable,Transports,Autoroute,2025-09-07,12.40000,#autoroute,Autoroute direction SMH
20,1052,Entreprise,Sortie,Variable,Divertissement,Boulangerie,2025-09-08,8.50000,#croustine,Petit-d√©jeuner pour l'IT
21,1053,Entreprise,Sortie,Variable,Courses,Fruits,2025-09-08,3.99000,#pomme,Courses carrefour
22,1054,Entreprise,Sortie,Variable,Courses,Ap√©ritifs,2025-09-08,1.69000,#chips,Courses carrefour
23,1055,Entreprise,Sortie,Variable,Courses,Soda,2025-09-08,4.08000,#perrier,Courses carrefour

## üìú vue_flux_sact

In [42]:
query = f'''
SELECT * FROM vue_flux_sact
'''

vue_flux_sact = get_data_from_query(query)
vue_flux_sact

,ID Flux,P√©riode,Type de flux,Fixes,Cat√©gorie,Sous-cat√©gorie,Date,Montant,Tags,Description
0,1052,Entreprise,Sortie,Variable,Divertissement,Boulangerie,2025-09-08,8.50000,#croustine,Petit-d√©jeuner pour l'IT
1,1053,Entreprise,Sortie,Variable,Courses,Fruits,2025-09-08,3.99000,#pomme,Courses carrefour
2,1054,Entreprise,Sortie,Variable,Courses,Ap√©ritifs,2025-09-08,1.69000,#chips,Courses carrefour
3,1055,Entreprise,Sortie,Variable,Courses,Soda,2025-09-08,4.08000,#perrier,Courses carrefour