# üîê Styling

In [1]:
%%HTML
<style>
body {
    --vscode-font-family : 'Nasalization';
}

.dataframe {
    font-family : 'Futura';
    # font-family : 'Century Gothic';
    border : 2px solid #252422;
    border-radius : 5px;
    overflow : hidden;
}

.dataframe tr th {
    text-align : center;
}

.dataframe td {
    paddign : 10px;
    text-align : left;
}

.dataframe tr:hover{
    background-color : #ef233c;
}

</style>

# üõ≥Ô∏è Importation

In [2]:
import calendar
import datetime as dt

import psycopg2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns

# üéØ Features

## üìç Connect database

In [3]:
# Create database connection

conn = ''

try :
    conn = psycopg2.connect(
        host = "localhost",
        port = "5432",
        user = "postgres",
        password = "postgres",
        dbname = "BudgetManagement"
    )    

except Exception as e: 
    print(e)

# Connect to Database and get informations
cursor = conn.cursor()

## üìç Functions

In [4]:
def get_data_from_query(query, cursor=cursor) : 
    cursor.execute(query)
    
    colnames = [col.name for col in cursor.description]
    rows = cursor.fetchall()

    data = pd.DataFrame(columns=colnames, data=rows)
    return data

# üìï Data

## üìú vue_type_flux

In [5]:
query = f'''
SELECT * FROM vue_type_flux
'''

vue_type_flux = get_data_from_query(query)
vue_type_flux

   ID Type Flux   Type Flux
0             1      Entr√©e
1             2      Sortie
2             3      Neutre
3             4  R√©paration

## üìú vue_periode

In [6]:
query = f'''
SELECT * FROM vue_periode
'''

vue_periode = get_data_from_query(query)
vue_periode

   ID Periode     Periode
0           1  Entreprise
1           2       Ecole
2           3    Vacances

## üìú vue_fixes

In [7]:
query = f'''
SELECT * FROM vue_fixes
'''

vue_fixes = get_data_from_query(query)
vue_fixes

   ID Fixes         Fixes
0         1          Fixe
1         2      Variable
2         3  Exceptionnel

## üìú vue_categorie

In [8]:
query = f'''
SELECT * FROM vue_categorie
'''

vue_categorie = get_data_from_query(query)
vue_categorie

    ID Categorie       Categorie     Target
0              1         Courses  100.00000
1              2            Mode          0
2              3      Esth√©tique          0
3              4         Hygi√®ne          0
4              5      Abonnement          0
5              6      Transports          0
6              7        Logement          0
7              8            Aide          0
8              9  Divertissement          0
9             10         Emprunt          0
10            11          Emploi          0
11            12         Epargne          0
12            13          Imp√¥ts          0
13            14           Sant√©          0
14            15           Autre          0
15            16          Cadeau          0

## üìú vue_sous_categorie

In [9]:
query = f'''
SELECT * FROM vue_sous_categorie
'''

vue_sous_categorie = get_data_from_query(query)
vue_sous_categorie

     ID Categorie       Categorie  Sous-Categorie Target
0              17         Courses         Viandes      0
1              18         Courses        Fromages      0
2              19         Courses         L√©gumes      0
3              20         Courses          Fruits      0
4              21         Courses          Sauces      0
..            ...             ...             ...    ...
96            113         Epargne  Trade Republic      0
97            114         Courses             Sac      0
98            115  Divertissement       Bricolage      0
99            116         Courses             Eau      0
100           117      Esth√©tique          Parfum      0

[101 rows x 4 columns]

In [10]:
vue_sous_categorie[vue_sous_categorie['Categorie'] == 'Transports']

    ID Categorie   Categorie      Sous-Categorie     Target
47            64  Transports           Carburant  150.00000
48            65  Transports        Huile Moteur          0
49            66  Transports  Assurance v√©hicule  130.00000
50            67  Transports              Garage          0
51            68  Transports  Entretien v√©hicule          0
52            69  Transports           Autoroute   25.00000
53            70  Transports                 Bus          0
54            71  Transports                Tram          0
55            72  Transports               Train          0
56            73  Transports               Avion          0
57            74  Transports         Covoiturage          0
58            75  Transports                V√©lo          0
59            76  Transports             Parking          0

## üìú flux

In [11]:
query = f'''
SELECT * FROM flux
'''

flux = get_data_from_query(query)
flux

,id_flux,id_periode,id_type_flux,id_fixes,id_categorie,date_flux,montant,tags,description
0,1,1,2,2,102,2024-09-02,350.00000,#Epargne,Epargne ao√ªt et r√©serve
1,2,1,2,2,89,2024-09-02,9.00000,#Soir√©e,Soir√©e int√© ENSIMAG
2,3,1,1,1,98,2024-09-02,1329.00000,#Salaire,Salaire ao√ªt
3,4,1,2,1,77,2024-09-02,390.00000,#Loyer,Loyer septembre 2024
4,6,1,2,2,87,2024-09-03,16.00000,#Cheese #Naan,Cheese Naan apr√®s soir√©e
...,...,...,...,...,...,...,...,...,...
1270,1319,1,2,2,23,2025-12-02,2.95000,#chupa chups,Courses carrefour d√©but du mois
1271,1320,1,2,2,18,2025-12-02,2.25000,#ch√®vre,Courses carrefour d√©but du mois
1272,1321,1,2,2,18,2025-12-02,1.59000,#cheddar,Courses carrefour d√©but du mois
1273,1322,1,2,2,28,2025-12-02,1.55000,#lays #barbecue,Courses carrefour d√©but du mois
1274,1323,1,2,2,33,2025-12-02,1.89000,#yop #fraise,Courses carrefour d√©but du mois

In [12]:
flux[flux['id_flux'] == 1125]

,id_flux,id_periode,id_type_flux,id_fixes,id_categorie,date_flux,montant,tags,description
1102,1125,1,2,2,102,2025-10-01,4.73000,#epargne,Epargne pour faire 200‚Ç¨ sur septemebre

## üìú vue_flux

In [13]:
query = f'''
SELECT * FROM vue_flux
'''

vue_flux = get_data_from_query(query)
vue_flux

,ID Flux,P√©riode,Type de flux,Fixes,Cat√©gorie,Sous-cat√©gorie,Date,Montant,Tags,Description
0,1,Entreprise,Sortie,Variable,Epargne,Livret A,2024-09-02,350.00000,#Epargne,Epargne ao√ªt et r√©serve
1,2,Entreprise,Sortie,Variable,Divertissement,Brasserie,2024-09-02,9.00000,#Soir√©e,Soir√©e int√© ENSIMAG
2,3,Entreprise,Entr√©e,Fixe,Emploi,Salaire,2024-09-02,1329.00000,#Salaire,Salaire ao√ªt
3,4,Entreprise,Sortie,Fixe,Logement,Loyer,2024-09-02,390.00000,#Loyer,Loyer septembre 2024
4,5,Entreprise,Sortie,Exceptionnel,Imp√¥ts,Imp√¥ts,2024-09-03,103.00000,#Ecole,CVEC pour IUT
...,...,...,...,...,...,...,...,...,...,...
1270,1319,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,2.95000,#chupa chups,Courses carrefour d√©but du mois
1271,1320,Entreprise,Sortie,Variable,Courses,Fromages,2025-12-02,2.25000,#ch√®vre,Courses carrefour d√©but du mois
1272,1321,Entreprise,Sortie,Variable,Courses,Fromages,2025-12-02,1.59000,#cheddar,Courses carrefour d√©but du mois
1273,1322,Entreprise,Sortie,Variable,Courses,Ap√©ritifs,2025-12-02,1.55000,#lays #barbecue,Courses carrefour d√©but du mois
1274,1323,Entreprise,Sortie,Variable,Courses,Lait,2025-12-02,1.89000,#yop #fraise,Courses carrefour d√©but du mois

In [14]:
vue_flux[vue_flux['ID Flux'] == 1125]

,ID Flux,P√©riode,Type de flux,Fixes,Cat√©gorie,Sous-cat√©gorie,Date,Montant,Tags,Description
1076,1125,Entreprise,Sortie,Variable,Epargne,Livret A,2025-10-01,4.73000,#epargne,Epargne pour faire 200‚Ç¨ sur septemebre

## üìú vue_flux_mact

In [15]:
query = f'''
SELECT * FROM vue_flux_mact
'''

vue_flux_mact = get_data_from_query(query)
vue_flux_mact

,ID Flux,P√©riode,Type de flux,Fixes,Cat√©gorie,Sous-cat√©gorie,Date,Montant,Tags,Description
0,1308,Entreprise,Entr√©e,Variable,Emploi,Salaire,2025-12-01,1913.25000,#salaire,Salaire mois de Novembre
1,1309,Entreprise,Sortie,Variable,Epargne,Livret A,2025-12-01,407.18000,#epargne,Epargne d√©but du mois
2,1310,Entreprise,Sortie,Fixe,Cadeau,Famille,2025-12-01,200.00000,#parents,Cadeau pour papa et maman
3,1311,Entreprise,Sortie,Fixe,Logement,Loyer,2025-12-01,390.00000,#loyer,Loyer decembre 2025
4,1312,Entreprise,Sortie,Variable,Courses,Soda,2025-12-02,2.39000,#coca,Courses carrefour d√©but du mois
5,1313,Entreprise,Sortie,Variable,Courses,Soda,2025-12-02,2.39000,#coca,Courses carrefour d√©but du mois
6,1314,Entreprise,Sortie,Variable,Courses,Desserts,2025-12-02,1.75000,#danette,Courses carrefour d√©but du mois
7,1315,Entreprise,Sortie,Variable,Courses,Desserts,2025-12-02,3.99000,#yaourts,Courses carrefour d√©but du mois
8,1316,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,1.75000,#loops,Courses carrefour d√©but du mois
9,1317,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,1.99000,#biscuits,Courses carrefour d√©but du mois
10,1318,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,2.35000,#haribo #croco,Courses carrefour d√©but du mois
11,1319,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,2.95000,#chupa chups,Courses carrefour d√©but du mois
12,1320,Entreprise,Sortie,Variable,Courses,Fromages,2025-12-02,2.25000,#ch√®vre,Courses carrefour d√©but du mois
13,1321,Entreprise,Sortie,Variable,Courses,Fromages,2025-12-02,1.59000,#cheddar,Courses carrefour d√©but du mois
14,1322,Entreprise,Sortie,Variable,Courses,Ap√©ritifs,2025-12-02,1.55000,#lays #barbecue,Courses carrefour d√©but du mois
15,1323,Entreprise,Sortie,Variable,Courses,Lait,2025-12-02,1.89000,#yop #fraise,Courses carrefour d√©but du mois

In [16]:
vue_flux_mact.iloc[-50:]

,ID Flux,P√©riode,Type de flux,Fixes,Cat√©gorie,Sous-cat√©gorie,Date,Montant,Tags,Description
0,1308,Entreprise,Entr√©e,Variable,Emploi,Salaire,2025-12-01,1913.25000,#salaire,Salaire mois de Novembre
1,1309,Entreprise,Sortie,Variable,Epargne,Livret A,2025-12-01,407.18000,#epargne,Epargne d√©but du mois
2,1310,Entreprise,Sortie,Fixe,Cadeau,Famille,2025-12-01,200.00000,#parents,Cadeau pour papa et maman
3,1311,Entreprise,Sortie,Fixe,Logement,Loyer,2025-12-01,390.00000,#loyer,Loyer decembre 2025
4,1312,Entreprise,Sortie,Variable,Courses,Soda,2025-12-02,2.39000,#coca,Courses carrefour d√©but du mois
5,1313,Entreprise,Sortie,Variable,Courses,Soda,2025-12-02,2.39000,#coca,Courses carrefour d√©but du mois
6,1314,Entreprise,Sortie,Variable,Courses,Desserts,2025-12-02,1.75000,#danette,Courses carrefour d√©but du mois
7,1315,Entreprise,Sortie,Variable,Courses,Desserts,2025-12-02,3.99000,#yaourts,Courses carrefour d√©but du mois
8,1316,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,1.75000,#loops,Courses carrefour d√©but du mois
9,1317,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,1.99000,#biscuits,Courses carrefour d√©but du mois
10,1318,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,2.35000,#haribo #croco,Courses carrefour d√©but du mois
11,1319,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,2.95000,#chupa chups,Courses carrefour d√©but du mois
12,1320,Entreprise,Sortie,Variable,Courses,Fromages,2025-12-02,2.25000,#ch√®vre,Courses carrefour d√©but du mois
13,1321,Entreprise,Sortie,Variable,Courses,Fromages,2025-12-02,1.59000,#cheddar,Courses carrefour d√©but du mois
14,1322,Entreprise,Sortie,Variable,Courses,Ap√©ritifs,2025-12-02,1.55000,#lays #barbecue,Courses carrefour d√©but du mois
15,1323,Entreprise,Sortie,Variable,Courses,Lait,2025-12-02,1.89000,#yop #fraise,Courses carrefour d√©but du mois

## üìú vue_flux_sact

In [17]:
query = f'''
SELECT * FROM vue_flux_sact
'''

vue_flux_sact = get_data_from_query(query)
vue_flux_sact

,ID Flux,P√©riode,Type de flux,Fixes,Cat√©gorie,Sous-cat√©gorie,Date,Montant,Tags,Description
0,1308,Entreprise,Entr√©e,Variable,Emploi,Salaire,2025-12-01,1913.25000,#salaire,Salaire mois de Novembre
1,1309,Entreprise,Sortie,Variable,Epargne,Livret A,2025-12-01,407.18000,#epargne,Epargne d√©but du mois
2,1310,Entreprise,Sortie,Fixe,Cadeau,Famille,2025-12-01,200.00000,#parents,Cadeau pour papa et maman
3,1311,Entreprise,Sortie,Fixe,Logement,Loyer,2025-12-01,390.00000,#loyer,Loyer decembre 2025
4,1312,Entreprise,Sortie,Variable,Courses,Soda,2025-12-02,2.39000,#coca,Courses carrefour d√©but du mois
5,1313,Entreprise,Sortie,Variable,Courses,Soda,2025-12-02,2.39000,#coca,Courses carrefour d√©but du mois
6,1314,Entreprise,Sortie,Variable,Courses,Desserts,2025-12-02,1.75000,#danette,Courses carrefour d√©but du mois
7,1315,Entreprise,Sortie,Variable,Courses,Desserts,2025-12-02,3.99000,#yaourts,Courses carrefour d√©but du mois
8,1316,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,1.75000,#loops,Courses carrefour d√©but du mois
9,1317,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,1.99000,#biscuits,Courses carrefour d√©but du mois
10,1318,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,2.35000,#haribo #croco,Courses carrefour d√©but du mois
11,1319,Entreprise,Sortie,Variable,Courses,Sucrerie,2025-12-02,2.95000,#chupa chups,Courses carrefour d√©but du mois
12,1320,Entreprise,Sortie,Variable,Courses,Fromages,2025-12-02,2.25000,#ch√®vre,Courses carrefour d√©but du mois
13,1321,Entreprise,Sortie,Variable,Courses,Fromages,2025-12-02,1.59000,#cheddar,Courses carrefour d√©but du mois
14,1322,Entreprise,Sortie,Variable,Courses,Ap√©ritifs,2025-12-02,1.55000,#lays #barbecue,Courses carrefour d√©but du mois
15,1323,Entreprise,Sortie,Variable,Courses,Lait,2025-12-02,1.89000,#yop #fraise,Courses carrefour d√©but du mois

## üìú fs_total

In [18]:
keyword = 'carre'
date = '2025-12-02'

query = f'''
SELECT fs_total(\'{date}\', \'{keyword}\')
'''

fs_total = get_data_from_query(query)
fs_total

   fs_total
0  26.84000

## üîç Explore

In [19]:
vue_flux_mact[vue_flux_mact['Cat√©gorie'] == 'Cadeau']

,ID Flux,P√©riode,Type de flux,Fixes,Cat√©gorie,Sous-cat√©gorie,Date,Montant,Tags,Description
2,1310,Entreprise,Sortie,Fixe,Cadeau,Famille,2025-12-01,200.00000,#parents,Cadeau pour papa et maman

# üîÑ Update

## üñçÔ∏è Date

In [20]:
id_flux = 0
date_flux = '2025-10-28'

query = f'''
UPDATE FLUX
SET date_flux = {date_flux}
WHERE id_flux = {id_flux}
'''

# cursor.execute(query)