In [1]:
%%HTML
<style>
body {
    --vscode-font-family : 'Nasalization';
}

.dataframe {
    font-family : 'Futura';
    border : 2px solid #252422;
    border-radius : 5px;
    overflow : hidden;
}

.dataframe tr th {
    text-align : center;
}

.dataframe td {
    paddign : 10px;
    text-align : left;
}

.dataframe tr:hover{
    background-color : #ef233c;
}

</style>

# üõ≥Ô∏è Importation

In [2]:
import calendar
import csv

import datetime as dt

import psycopg2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# üéØ Main

## üìç Collect data

In [3]:
# Create database connection

conn = ''

try :
    conn = psycopg2.connect(
        host = "localhost",
        port = "5432",
        user = "postgres",
        password = "postgres",
        dbname = "BudgetManagement"
    )    

except Exception as e: 
    print(e)

# Connect to Database and get informations
cursor = conn.cursor()

In [4]:
data_tables = [
    'PERIODE',
    'TYPE_FLUX',
    'FIXES',
    'CATEGORIE',
    'FLUX',
    'vue_Flux',
    'vue_Flux_MAct',
    'vue_Flux_SAct',
]

In [5]:
def export_table(table) :
    query = f'SELECT * FROM {table}'
    cursor.execute(query)

    colnames = [col.name for col in cursor.description]
    rows = cursor.fetchall()

    data = pd.DataFrame(columns=colnames, data=rows)
    data.to_csv(f'./BACKUP/{table}.csv', sep=';', index=False)
    print(f'‚úÖ EXPORTED : {table}')

In [6]:
query = 'SELECT * FROM vue_Flux'
cursor.execute(query)

colnames = [col.name for col in cursor.description]
rows = cursor.fetchall()

data = pd.DataFrame(columns=colnames, data=rows)
data.head()

,ID Flux,P√©riode,Type de flux,Fixes,Cat√©gorie,Sous-cat√©gorie,Date,Montant,Tags,Description
0,1,Entreprise,Sortie,Variable,Epargne,Livret A,2024-09-02,350.00000,#Epargne,Epargne ao√ªt et r√©serve
1,2,Entreprise,Sortie,Variable,Divertissement,Brasserie,2024-09-02,9.00000,#Soir√©e,Soir√©e int√© ENSIMAG
2,3,Entreprise,Entr√©e,Fixe,Emploi,Salaire,2024-09-02,1329.00000,#Salaire,Salaire ao√ªt
3,4,Entreprise,Sortie,Fixe,Logement,Loyer,2024-09-02,390.00000,#Loyer,Loyer septembre 2024
4,5,Entreprise,Sortie,Exceptionnel,Imp√¥ts,Imp√¥ts,2024-09-03,103.00000,#Ecole,CVEC pour IUT

In [7]:
for table in data_tables :
    export_table(table)

‚úÖ EXPORTED : PERIODE
‚úÖ EXPORTED : TYPE_FLUX
‚úÖ EXPORTED : FIXES
‚úÖ EXPORTED : CATEGORIE
‚úÖ EXPORTED : FLUX
‚úÖ EXPORTED : vue_Flux
‚úÖ EXPORTED : vue_Flux_MAct
‚úÖ EXPORTED : vue_Flux_SAct